@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


.light {
    --color-main: #775adf;
    --color-text: #6851ec;
    --color-lightblue: #758eda;
    --color-gray: #999;
    --color-bg: #a2b5f3;
    --color-lighter: #b2dbd5;
    --color-white: #d3edd6;
    --color-border: #b2c9ab;
    --color-accent: #6cbfb5;
}



/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

/* APP STYLES */

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 480px;
  /* height: 88vh; */
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
  /* border-radius: 2%; */
  border-radius: 10% 10% 2% 2%;
}

.app-page {
  height: 38vh;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 18px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 7% 7% 0% 0%;
}

.app-header h1 {
  font-size: 40px;
  color: var(--color-lightblue);
  font-weight: 700;
  text-align: center;
}


.app-body {
  padding: 16px;
}


/* taskS STYLES */

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.tasks-title,
.tasks-count {
  color: var(--color-main);
  font-size: 28px;
  font-weight: 600;
}

.tasks-count {
  font-size: 18px;
  color: var(--color-gray);
}


.tasks-list {
  padding: 0;
  margin: 16px 0;
  height: 60vh;
  overflow-y: auto;
  scrollbar-width: none; 
}

.tasks-list::-webkit-scrollbar {
  display: none;
}

.tasks-list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
}

.tasks-list-item:hover {
  background-color: var(--color-bg);
}

.tasks-list-item h3,
.tasks-list-item p span {
  font-weight: 900;
}


.tasks-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.tasks-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}

/*==============================
=>  task Styles
================================*/

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.task-header h3 {
  display: flex;
  align-items: center;
  font-size: 28px;
  cursor: pointer;
}


.task textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 70vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.task textarea:active,
.task textarea:focus {
  outline: none;
  border: none;
}

.task textarea::-webkit-scrollbar {
  display: none;
}


/*==============================
=>  ListItem Styles
================================*/


.tasks-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-text {
  cursor: default;
}

.task-buttons > :first-child {
  margin-right: 5px;
}


.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 2px;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}


/* LOGIN */

p{
	margin-left: 1.5rem;
}

.page {
	margin-top: 2rem;
}

.page input:focus {
	outline: none;
}


.page button {
  margin-top: 0.2rem;
  margin-right: auto;
  margin-left: 5px;
}





 input {
  margin-right: auto;
  margin-left: 20px;
  border: none;
	background-color: rgb(233, 233, 233);
	width: 60%;
}





.register-link {
  margin-top: 3rem;
  margin-right: auto;
  margin-left: 40px;
}

.register-link a {
  text-decoration: none;
  color: var(--color-lightblue);
}



.button-container button {
  color: var(--color-lighter);
  position: absolute;
  background: var(--color-main);
  border: none;
  min-width: 210px;
  height: 25px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-right: auto;
  margin-left: 20px;
}


.completed-task {
  color:#999;
  text-decoration: line-through; 
}


.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #f0f0f0; */
  border: 1px solid #ddd;
}

h3 {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em; 
  margin-right: 20px; 
  padding: 10px 20px; 
}

button:hover {
  color: rgb(66, 66, 243); 
}



